
/*------------------------------------*\
    BORDERS
\*------------------------------------*/

html:before,html:after,body:before,body:after{
    content:"";
    background:#dad8bb;
    position:fixed;
    display:block;
    z-index:5;
}

html:before{
    height:15px;
    left:0;
    right:0;
    top:0;
}
html:after{
    width:15px;
    top:0;
    right:0;
    bottom:0;
}
body:before{
    height:15px;
    right:0;
    bottom:0;
    left:0;
}
body:after{
    width:15px;
    top:0;
    bottom:0;
    left:0;
}

/*------------------------------------*\
    BORDERS
\*------------------------------------*/


/*------------------------------------*\
    CSS
\*------------------------------------*/



img {
  max-width: 100%;
  }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

html, body, .page {
  height: 100%; }


@media only screen and (max-height: 500px) {
    html, body, .page {
      height: auto; } }

.page{
          text-align: center;
          padding: 4rem 2rem;
      }


body {
  margin: 0;
  padding: 1rem;
  font-family: "facitweb-Extralight", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 2.5rem;
  align-items: center;
 }


 @media only screen and (max-width: 768px) {
    body {
      font-size: 1.4rem;
      line-height: 2.2rem; } }


h1 {
  font-size: 3.0rem; }
  @media only screen and (max-width: 500px) {
    h1 {
      font-size: 2.4rem; } }


.page__content {
  max-width: 600px;
  margin: 0 auto;
  @media only screen and (max-width: 300px)
  }

.portrait {
    max-width: 150px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid white;
 }


#website_list_container {
  margin: 30px 0 20px 50px;
}
